<header class="container main-header" >
  <h1>
    Editar Lançamento
  </h1>
</header>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

<span><%= link "Back", to: Routes.user_path(@conn, :index), class: "btn btn-light" %></span>
